.articles {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}


.articles > .content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(#575757, #262626);
  width: 100%;

  > img {
    width: 100%;
    height: auto;
  }
}


.articles .text-content {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 70%;
  padding-bottom: 4vw;

  > h2 {
    color: #FF3030;
    font-size: 2vw;
    font-weight: 500;

    margin: 0;
    padding: 2vw 0 1vw 0;
  }

  > p {
    margin-top: 1vw;
  }
}
