.brands {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}


.brands > .brand-plate {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.03);

  margin-bottom: 2vw;
  width: 100%;

  > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 2vw 0 2vw 0;
  }
}
