button {
  background: linear-gradient(#FF3030, #4F0505);
  color: white;
  border: 0;
  border-radius: 32px;
  padding: 20px 52px;
}


.up-button {
  position: fixed;
  right: 5vw;
  bottom: 5vw;

  background: #FF3030;
  transition: all 0.250s;

  &:hover {
    box-shadow: 0 0 2vw #FF3030;
  }
}
